[user]
	email = alessio.raviola.98@gmail.com
	name = Alessio Raviola
[gpg]
	program = gpg
[commit]
	gpgsign = false
[tag]
	forcesignannotated = false
[init]
	defaultbranch = main
[core]
	editor = nvim
[diff]
    tool = nvimdiff
[merge]
    tool = nvimdiff
[pull]
    rebase = false
[column]
	ui = auto
[branch]
    sort = -committerdate
[alias]
    ss = status
    ci = commit
    br = branch

    difft = difftool
    merget = mergetool

	unstage = reset head --
    last = log -1 head
    logh = log --oneline --decorate --graph --all

    blameig = blame -wccc

[maintenance]
    auto = false
    strategy = incremental

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[includeIf "gitdir:~/codeploy/"]
    path = ~/codeploy/.gitconfig
