[user]
	email = alessio.raviola@codeploy.it
	name = Alessio Raviola
	signingKey = ""
[gpg]
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
[init]
	defaultBranch = main
[core]
	editor = nvim
[diff]
    tool = nvimdiff
[merge]
    tool = nvimdiff
[pull]
    rebase = false
[alias]
    ss = status
    ci = commit
    br = branch

    difft = difftool
    merget = mergetool

	unstage = reset HEAD --
    last = log -1 HEAD
    logh = log --oneline --decorate --graph --all
