@define-color black #282828;
@define-color white #ccd6eb;
@define-color yellow #ddca7d;
@define-color red #d16666;
@define-color bright-red #C84630;
@define-color gray #7d8ca3;
@define-color green #4DA167;
@define-color dark-green #386150;
@define-color flame #E4572E;
@define-color moss #646536;
@define-color pink #9E768F;
@define-color midnight-green #13505B;

@define-color ash #bfc3ba;
@define-color silver #a9aca9;
@define-color eggplant #60495a;
@define-color violet #3f3244;
@define-color purple #2f2235;

* {
    font-family: Monaspace Argon;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: @white;
    padding-top: 0;
    padding-bottom: 0;
    transition-property: background-color;
    transition-duration: .5s;
}

#clock,
#tray, 
#workspaces,
#pulseaudio,
#backlight,
#battery,
#temperature,
#workspaces,
#cpu {
    background-color: @black;
    margin-top: 5px;
    margin-bottom: 2px;
    opacity: 1;
}

#tray {
    padding: 0px 10px;
    margin: 5px 5px 0px 0px;
    border-radius: 0px 50px 50px 0px;
    color: @black;
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: @ash;
}

#temperature {
    background-color: @ash;
    color: @black;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 50px 50px 50px 50px;
    padding-left: 15px;
    padding-right: 45px;
}


#clock {
    color: @yellow;
    margin-top: 5px;
    border-radius: 50px 50px 50px 50px;
    padding: 5px 15px;
}

#battery, #cpu, #backlight, #pulseaudio, #pulseaudio.microphone {
    padding: 0 10px;
}

#backlight {
    padding-right: 10px;
    color: @yellow;
}

#battery {
    padding-left: 15px;
    border-radius: 50px 0px 0px 50px;
}

#battery.full {
    color: @green;
}

#battery.charging {
    color: @dark-green;
}

#battery.discharging.good {
    color: @dark-green;
}

#battery.discharging.warning {
    color: @yellow;
}

#battery.discharging.critical {
    color: @bright-red;
}

#pulseaudio {
    color: @pink;
}

#pulseaudio.microphone {
    color: @pink;
}

#cpu {
    color: @silver;
}

#workspaces {
    padding: 5px 10px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 50px 50px 50px 50px;
    opacity: 1;
}

#workspaces button {
    border-radius: 0px;
    color: @ash;
    margin: 0;
}

#workspaces button.active {
    font-weight: bold;
    color: @black;
    background-color: @red;
    border-radius: 50px;
}

